@font-face {
  font-family: "Loew-Black";
  src: url(../fonts/Loew-Black.otf);
}
@font-face {
  font-family: "Loew-BlackItalic";
  src: url(../fonts/Loew-BlackItalic.otf);
}
@font-face {
  font-family: "Loew-Bold";
  src: url(../fonts/Loew-Bold.otf);
}
@font-face {
  font-family: "Loew-BoldItalic";
  src: url(../fonts/Loew-BoldItalic.otf);
}
@font-face {
  font-family: "Loew-ExtraBold";
  src: url(../fonts/Loew-ExtraBold.otf);
}
@font-face {
  font-family: "Loew-ExtraBoldItalic";
  src: url(../fonts/Loew-ExtraBoldItalic.otf);
}
@font-face {
  font-family: "Loew-Heavy";
  src: url(../fonts/Loew-Heavy.otf);
}
@font-face {
  font-family: "Loew-Italic.";
  src: url(../fonts/Loew-Italic.otf);
}
@font-face {
  font-family: "Loew-Italic";
  src: url(../fonts/Loew-Italic.otf);
}
@font-face {
  font-family: "Loew-Light";
  src: url(../fonts/Loew-Light.otf);
}
@font-face {
  font-family: "Loew-LightItalic";
  src: url(../fonts/Loew-LightItalic.otf);
}
@font-face {
  font-family: "Loew-Medium";
  src: url(../fonts/Loew-Medium.otf);
}
@font-face {
  font-family: "Loew-MediumItalic";
  src: url(../fonts/Loew-MediumItalic.otf);
}
@font-face {
  font-family: "Loew-Regular";
  src: url(../fonts/Loew-Regular.otf);
}
@font-face {
  font-family: "Loew-Thin";
  src: url(../fonts/Loew-Thin.otf);
}
@font-face {
  font-family: "oew-ThinItalic";
  src: url(../fonts/Loew-ThinItalic.otf);
}
:root {
  --heading: hsl(211, 72%, 22%);
  --body: hsl(211, 72%, 22%);
  --base: rgb(16, 55, 96);
  --primary: rgb(243, 78, 78);
  --secondary: rgb(143, 152, 147);
  --success: rgb(106, 192, 106);
  --danger: rgb(222, 52, 52);
  --warning: rgb(255, 112, 28);
  --info: rgb(113, 137, 255);
  --dark: rgb(12, 60, 32);
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  color: hsl(var(--body));
  font-family: "Loew-Regular";
}

.container {
  max-width: 1000px;
  padding-inline: 16px;
  margin-inline: auto;
}
@media (max-width: 767px) {
  .container {
    max-width: 400px;
  }
}

a {
  text-decoration: none;
  color: hsl(var(--body));
}
a:hover {
  color: hsl(var(--base));
}

span,
sub,
sup,
a {
  display: inline-block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 111;
  visibility: hidden;
  opacity: 0;
}
.overlay.active {
  visibility: visible;
  opacity: 1;
}

.scrollToTop {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(var(--white));
  z-index: 9999;
  bottom: 30px;
  right: 30px;
  font-size: 18px;
  position: fixed;
  transform: translateY(150px);
  background: hsl(var(--base));
  border-radius: 3px;
}

.scrollToTop:hover {
  color: hsl(var(--white));
}

.scrollToTop.active {
  transform: translateY(0);
  animation: bounceInDown 2s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Loew-Black";
  color: #103762;
  line-height: 1;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  color: hsl(var(--heading));
}

h1 {
  font-size: 50px;
  font-family: "Loew-Black";
  color: #103762;
}
@media (max-width: 991px) {
  h1 {
    font-size: 38px;
  }
}
@media (max-width: 767px) {
  h1 {
    line-height: 1.1;
  }
}

h2 {
  font-size: 24px;
  font-family: "Loew-Black";
  color: #103762;
}

.pt-120 {
  padding-top: clamp(70px, 5vw, 120px);
}

.pt-100 {
  padding-top: clamp(55px, 5vw, 100px);
}

.pt-80 {
  padding-top: clamp(50px, 5vw, 80px);
}

.pt-60 {
  padding-top: clamp(35px, 5vw, 60px);
}

.pt-50 {
  padding-top: clamp(35px, 5vw, 50px);
}

.pt-40 {
  padding-top: clamp(25px, 5vw, 40px);
}

.pb-120 {
  padding-bottom: clamp(70px, 5vw, 120px);
}

.pb-100 {
  padding-bottom: clamp(55px, 5vw, 100px);
}

.pb-80 {
  padding-bottom: clamp(50px, 5vw, 80px);
}

.pb-60 {
  padding-bottom: clamp(35px, 5vw, 60px);
}

.pb-50 {
  padding-bottom: clamp(35px, 5vw, 50px);
}

.pb-40 {
  padding-bottom: clamp(25px, 5vw, 40px);
}

.header {
  padding-block: 15px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background-color: #fff;
}
@media (max-width: 991px) {
  .header {
    top: -1px;
  }
}

.middle-content {
  gap: 74px;
}
@media (max-width: 991px) {
  .middle-content {
    gap: 30px;
  }
}

.logo img {
  max-width: 170px;
}
@media (max-width: 991px) {
  .logo img {
    max-width: 150px;
  }
}

.middle-content div {
  width: 200px;
  font-family: "Loew-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  color: #103762;
}
@media (max-width: 991px) {
  .middle-content div {
    font-size: 12px;
    width: 150px;
  }
}
.middle-content div.middle-content-right {
  width: 215px;
}
@media (max-width: 991px) {
  .middle-content div.middle-content-right {
    width: 180px;
  }
}
@media (max-width: 767px) {
  .middle-content div.middle-content-right {
    font-size: 13px;
  }
}

.header-btn a {
  color: #fff;
  background-color: #103762;
  font-size: 14px;
  font-family: "Loew-Black";
  text-decoration: underline;
  padding: 10px 15px 15px;
  border-radius: 5px;
  line-height: 1;
  display: block;
  transition: all ease 0.3s;
}
@media (max-width: 991px) {
  .header-btn a {
    font-size: 14px;
    padding: 12px 15px 15px;
}
.header {
  padding-block: 12px;
}
.header .container {
  max-width: 450px;
}
}
@media (max-width: 399px) {
  .header {
    padding-block: 15px;
  }
  .header-btn a {
    font-size: 12px;
    padding: 9px 10px 12px;
}
.middle-content div.middle-content-right {
  font-size: 11px;
}
.footer-content-wrapper {
  font-size: 13px !important;
}
}


.header-btn a:hover {
  background-color: #000;
}

footer {
  background-color: #103762;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}

.footer-content-wrapper {
  color: #fff;
  font-size: 14px;
  font-family: "Loew-Medium";
  padding-block: 18px;
  line-height: 1.3;
}
@media (max-width: 991px) {
  .footer-content-wrapper {
    font-size: 14px;
    font-family: "Loew-Regular";
  }
}


.mobile-content {
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  max-width: 350px;
  margin-inline: auto;
}
.mobile-content .logo {
  max-width: 130px;
}
.mobile-content .content {
  max-width: 170px;
}

.hero-bg-shape {
  position: absolute;
  left: 0;
  right: 0;
  top: 69px;
  height: 770px;
}
/* .hero-bg-shape::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffffb0;
} */
.hero-bg-shape img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-section {
  padding-top: 100px;
}
@media (max-width: 991px) {
  .hero-section {
    padding-top: 80px;
  }
}
@media (max-width: 767px) {
  .hero-section {
    padding-top: 20px;
  }
}
.hero-section .container {
  position: relative;
  z-index: 1;
}

.hero-wrapper {
  padding-left: 50px;
}
@media (max-width: 991px) {
  .hero-wrapper {
    padding-left: 0;
  }
}

.hero-content {
  max-width: 470px;
}
@media (max-width: 767px) {
  .hero-content {
    width: 100%;
    text-align: center;
    margin-inline: auto;
  }
}
.hero-content h2 {
  font-size: 45px;
}
@media (max-width: 991px) {
  .hero-content h2 {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .hero-content h2 {
    line-height: 1.1;
  }
}
.hero-content span {
  font-size: 18px;
  margin-bottom: 10px;
  color: #103762;
}
@media (max-width: 991px) {
  .hero-content span {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .hero-content span {
    font-size: 14px;
  }
}
.hero-content .offer-text {
  font-family: "Loew-Bold";
  font-size: 16px;
  color: #fff;
  padding: 8px 15px;
  border-radius: 3px;
  background-color: hsl(211, 72%, 22%);
  margin-bottom: 25px;
  margin-top: 20px;
}
@media (max-width: 991px) {
  .hero-content .offer-text {
    font-size: 15px;
  }
}
@media (max-width: 991px) {
  .hero-content .offer-text {
    font-size: 14px;
    padding: 6px 10px;
  }
}

.hero-form {
  padding-inline: 30px;
  width: 400px;
  padding-top: 70px;
  padding-bottom: 15px;
  background-color: #fff;
  box-shadow: 5px 4px 15px 6px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: relative;
}
@media (max-width: 767px) {
  .hero-form {
    box-shadow: rgba(93, 93, 93, 0.15) 2px 0 30px 0;
  }
}
@media (max-width: 991px) {
  .hero-form {
    width: 320px;
    padding-inline: 15px;
    padding-top: 50px;
  }
}
@media (max-width: 767px) {
  .hero-form {
    margin-inline: auto;
    margin-top: 100px;
    width: 100%;
  }
}
.hero-form .save-img {
  position: absolute;
  top: -75px;
  left: 50%;
  transform: translateX(-50%);
  width: 140px;
  height: 140px;
}
@media (max-width: 991px) {
  .hero-form .save-img {
    width: 120px;
    height: 120px;
  }
}
.hero-form .save-img img {
  width: 140px;
  height: 140px;
}
@media (max-width: 991px) {
  .hero-form .save-img img {
    width: 120px;
    height: 120px;
  }
}
.hero-form p {
  font-size: 16px;
  color: #000;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 5px;
}
@media (max-width: 991px) {
  .hero-form p {
    font-size: 14px;
  }
}
.hero-form p span {
  font-family: "Loew-ExtraBold";
}
.hero-form .form-group {
  margin-bottom: 15px;
}
.hero-form textarea,
.hero-form input,
.hero-form select {
  width: 100%;
  height: 44px;
  padding: 5px 15px;
  border: 1px solid #acacac;
  border-radius: 5px;
  font-size: 14px;
  transition: all ease 0.3s;
  box-shadow: none !important;
  background-color: #fff;
}
/* 
.hero-form select option:first-child {
  color: #acacac;

}
.hero-form select option::placeholder {
  color: #acacac;

} */
.hero-form textarea:focus,
.hero-form input:focus,
.hero-form select:focus {
  outline-color: #000 !important;
  border-color: #000;
}
.hero-form select {
  outline: 2px !important;
}
.hero-form textarea {
  height: 100px;
}
.hero-form .please-bottom-text {
  color: #000;
  font-size: 14px;
  line-height: 1.2;
}
.hero-form .please-bottom-text span {
  font-family: "Loew-Bold";
}

.button-wrapper {
  margin-bottom: 14px;
}
.button-wrapper a {
  font-size: 16px;
  font-family: "Loew-Black";
  width: 100%;
  padding-block: 10px;
  background-color: #103762;
  color: #fff;
  display: block;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #103762;
  transition: all ease 0.3s;
}
.button-wrapper a button {
  background-color: transparent;
  border: none;
  color: #fff;
}
.button-wrapper a:hover {
  background-color: #000;
  border-color: #000;
}
.button-wrapper a:first-child {
  margin-bottom: 14px;
}
.button-wrapper a:last-child {
  background-color: transparent;
  color: #103762;
  text-decoration: underline;
}
.button-wrapper a:last-child:hover {
  color: #fff;
  background-color: #103762;
}

.brand-wrapper {
  gap: 30px;
  margin-top: -70px;
  padding-left: 25px;
  padding-bottom: 21px;
}
@media (max-width: 991px) {
  .brand-wrapper {
    margin-top: -60px;
  }
}
@media (max-width: 767px) {
  .brand-wrapper {
    margin-top: 45px;
    padding-bottom: 0;
    justify-content: center;
    padding-left: 0;
  }
}

.experience-section {
  position: relative;
  padding-bottom: 45px;
  padding-top: 100px;
}
@media (max-width: 991px) {
  .experience-section {
    padding-top: 60px;
  }
}
@media (max-width: 767px) {
  .experience-section {
    padding-bottom: 35px;
  }
}
.experience-section::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  height: 495px;
  background-color: #e7e7ea;
  z-index: -1;
}
@media (max-width: 767px) {
  .experience-section::before {
    height: 370px;
  }
}
.experience-section .container {
  max-width: 822px;
  margin-inline: auto;
}

.experience-text {
  text-align: center;
  margin-bottom: 40px;
  font-size: 32px;
}
@media (max-width: 991px) {
  .experience-text {
    font-size: 24px;
    margin-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .experience-thumb {
    text-align: center;
  }
}
.experience-thumb .experience-thumb-img {
  width: 100%;
  border-radius: 5px;
  height: 450px;
  object-fit: cover;
}
@media (max-width: 991px) {
  .experience-thumb .experience-thumb-img {
    max-width: 600px;
    height: 300px;
    margin-inline: auto;
    text-align: center;
  }
}

.thumb-content-wrapper {
  margin-top: -80px;
  padding-left: 18px;
  max-width: 640px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
}
@media (max-width: 991px) {
  .thumb-content-wrapper {
    max-width: 530px;
    text-align: left;
    justify-content: center;
    margin-left: 70px;
  }
}
@media (max-width: 767px) {
  .thumb-content-wrapper {
    margin-top: -130px;
    max-width: 100%;
    gap: 0;
    margin-left: 0 !important;
  }
}
.thumb-content-wrapper .thumb img {
  width: 245px;
  height: 332px;
  object-fit: contain;
}
@media (max-width: 991px) {
  .thumb-content-wrapper .thumb img {
    width: 170px;
    height: 280px;
  }
}
@media (max-width: 767px) {
  .thumb-content-wrapper .thumb img {
    display: none;
  }
}
.thumb-content-wrapper .content {
  color: #616161;
  font-size: 18px;
  font-family: "Loew-Black";
  margin-top: 120px;
}
@media (max-width: 991px) {
  .thumb-content-wrapper .content {
    font-size: 16px;
    margin-top: 100px;
  }
}
@media (max-width: 767px) {
  .thumb-content-wrapper .content {
    margin-top: 170px;
  }
}
.thumb-content-wrapper .content li {
  margin-bottom: 10px;
}
.thumb-content-wrapper .content li img {
  padding-right: 3px;
  width: 30px;
}

.door-section {
  padding-top: 40px;
  padding-bottom: 100px;
}
@media (max-width: 767px) {
  .door-section {
    padding-bottom: 80px;
  }
}

.door-wrapper {
  gap: 30px 0;
  max-width: 800px;
  margin-inline: auto;
}
@media (max-width: 991px) {
  .door-wrapper {
    max-width: 680px;
  }
}

.single-door-item {
  width: 33.3333333333%;
  text-align: center;
}
@media (max-width: 767px) {
  .single-door-item {
    width: 50%;
  }
}
.single-door-item .door-content {
  margin-top: 20px;
}
@media (max-width: 767px) {
  .single-door-item .door-content {
    margin-top: 15px;
  }
}
.single-door-item .door-content h6 {
  color: #616161;
}

.door-wrapper {
  padding-top: 60px;
}

.door-top-content {
  gap: 20px;
}
@media (max-width: 767px) {
  .door-top-content {
    text-align: center;
    margin-inline: auto;
  }
}
.door-top-content h2 {
  font-size: 38px;
  color: #616161;
  text-align: right;
  max-width: 667px;
  line-height: 1.2;
}
@media (max-width: 991px) {
  .door-top-content h2 {
    font-size: 26px;
    width: 460px;
  }
}
@media (max-width: 767px) {
  .door-top-content h2 {
    max-width: 100%;
    margin-inline: auto;
    text-align: center;
    font-size: 22px;
    margin-bottom: 0;
  }
}
.door-top-content h2 span {
  color: #103762;
  display: inline;
}
.door-top-content .door-top-right-content {
  font-size: 18px;
  color: #616161;
  width: 255px;
  margin-bottom: 10px;
}
@media (max-width: 991px) {
  .door-top-content .door-top-right-content {
    width: 230px;
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .door-top-content .door-top-right-content {
    text-align: center;
    margin-inline: auto;
    width: 100%;
    max-width: 300px;
  }
}
.door-top-content .door-top-right-content p {
  margin-bottom: 0;
  line-height: 1.3;
}
.door-top-content .door-top-right-content span {
  font-family: "Loew-Black";
  display: inline;
}

.overview-section {
  padding-top: 50px;
  padding-bottom: 70px;
  background-color: #e7e7ea;
}
@media (max-width: 767px) {
  .overview-section {
    padding-top: 30px;
  }
}
.overview-section .button-wrapper {
  gap: 40px;
  margin: 0;
}
@media (max-width: 767px) {
  .overview-section .button-wrapper {
    gap: 20px;
  }
}
.overview-section .button-wrapper a {
  margin: 0;
  font-size: 20px;
  font-family: "Loew-Black";
  display: inline;
  width: auto;
  padding-inline: 20px;
  line-height: 1;
  padding-block: 15px;
  border-width: 2px;
}
.overview-section .button-wrapper a:first-child {
  background-color: transparent;
  color: #103762;
  text-decoration: underline;
  border-width: 2px;
}
@media (max-width: 767px) {
  .overview-section .button-wrapper a:first-child {
    font-size: 16px;
    min-width: 263.48px;
  }
}
.overview-section .button-wrapper a:first-child:hover {
  background-color: #103762;
  color: #fff;
  border-color: #103762;
}
.overview-section .button-wrapper a:last-child {
  font-size: 18px;
  background-color: #103762;
  color: #fff;
  text-decoration: none;
}
@media (max-width: 767px) {
  .overview-section .button-wrapper a:last-child {
    font-size: 15px;
  }
}
.overview-section .button-wrapper a:last-child:hover {
  background-color: #000;
}
.overview-section .limited-time-text {
  position: relative;
  max-width: 855px;
  margin-inline: auto;
}
.overview-section .limited-time-text::before, .overview-section .limited-time-text::after {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  width: 280px;
  height: 1px;
  background-color: #103762;
}
@media (max-width: 991px) {
  .overview-section .limited-time-text::before, .overview-section .limited-time-text::after {
    width: 250px;
  }
}
@media (max-width: 767px) {
  .overview-section .limited-time-text::before, .overview-section .limited-time-text::after {
    width: 80px;
  }
}
.overview-section .limited-time-text::after {
  right: 0;
  left: auto;
}

.overview-new-content {
  text-align: center;
  margin-top: 30px;
}
.overview-new-content h6,
.overview-new-content h2 {
  color: #616161;
}
.overview-new-content h6 {
  margin-bottom: 18px;
}

.itembox-wrapper {
  max-width: 900px;
  margin-inline: auto;
  background-color: #fff;
  border-radius: 5px;
  padding-inline: 45px;
  padding-bottom: 20px;
  padding-top: 0;
  margin-top: 70px;
  gap: 30px;
}
@media (max-width: 991px) {
  .itembox-wrapper {
    gap: 10px;
    padding-inline: 20px;
  }
}
@media (max-width: 767px) {
  .itembox-wrapper {
    max-width: 280px;
  }
}

.single-itembox {
  width: 180px;
  text-align: center;
  transform: translateY(-25px);
}
@media (max-width: 991px) {
  .single-itembox {
    width: 165px;
  }
}
@media (max-width: 767px) {
  .single-itembox {
    margin-inline: auto;
  }
  .single-itembox:not(:last-child) {
    margin-bottom: 20px;
  }
}
.single-itembox .icon img {
  width: 55px;
  height: 55px;
}
.single-itembox .content p {
  max-width: 160px;
  margin-inline: auto;
}
.single-itembox .border-two {
  max-width: 100px;
  margin-inline: auto;
  border-color: #103762 !important;
  opacity: 1;
}
.single-itembox h6 {
  color: #616161;
  font-size: 16px;
}
.single-itembox p {
  font-size: 14px;
  color: #616161;
  margin-bottom: 0;
}

.review-best-section {
  padding-top: 50px;
  padding-bottom: 130px;
}
.review-best-section .review-item {
  transform: translate(-42%, -78%);
}
@media (max-width: 991px) {
  .review-best-section .review-item {
    transform: translate(-30%, -78%);
  }
}
@media (max-width: 991px) {
  .review-best-section .review-item {
    transform: translate(0%, -78%);
  }
}

.review-best-thumb {
  width: 715px;
  margin-inline: auto;
  height: 435px;
  border-radius: 5px;
}
@media (max-width: 991px) {
  .review-best-thumb {
    max-width: 550px;
    max-height: 330px;
  }
}
@media (max-width: 767px) {
  .review-best-thumb {
    width: 100%;
  }
}
.review-best-thumb img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.review-best-title {
  font-size: 36px;
  font-family: "Loew-Black";
  text-align: center;
  color: #616161;
  margin-bottom: 60px;
}
@media (max-width: 991px) {
  .review-best-title {
    font-size: 28px;
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .review-best-title {
    font-size: 24px;
    margin-bottom: 30px;
  }
}

.gallery-section {
  padding-bottom: 70px;
}

.gallery-title {
  font-size: 36px;
  text-align: center;
  max-width: 650px;
  margin-inline: auto;
  color: #616161;
  margin-bottom: 40px;
}
@media (max-width: 991px) {
  .gallery-title {
    font-size: 28px;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .gallery-title {
    font-size: 24px;
  }
}

.gallery-wrapper {
  max-width: 770px;
  margin-inline: auto;
  gap: 22px;
}
@media (max-width: 991px) {
  .gallery-wrapper {
    justify-content: center;
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .gallery-wrapper {
    gap: 15px;
  }
}
.gallery-wrapper .gallery-left-thumb {
  width: 312px;
  height: 538px;
  border-radius: 5px;
}
@media (max-width: 991px) {
  .gallery-wrapper .gallery-left-thumb {
    width: 280px;
    height: 470px;
  }
}
@media (max-width: 767px) {
  .gallery-wrapper .gallery-left-thumb {
    width: 170px;
    height: 308px;
  }
}
.gallery-wrapper .gallery-left-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.gallery-wrapper .gallery-right {
  width: 427px;
}
@media (max-width: 991px) {
  .gallery-wrapper .gallery-right {
    width: 350px;
  }
}
@media (max-width: 767px) {
  .gallery-wrapper .gallery-right {
    width: 158px;
  }
}
.gallery-wrapper .gallery-right .gallery-subthumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.gallery-wrapper .gallery-right .gallery-subthumb:first-child {
  height: 219px;
  margin-bottom: 17px;
}
@media (max-width: 991px) {
  .gallery-wrapper .gallery-right .gallery-subthumb:first-child {
    height: 197px;
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  .gallery-wrapper .gallery-right .gallery-subthumb:first-child {
    height: 130px;
  }
}
.gallery-wrapper .gallery-right .gallery-subthumb:last-child img {
  height: 301px;
}
@media (max-width: 991px) {
  .gallery-wrapper .gallery-right .gallery-subthumb:last-child img {
    height: 258px;
  }
}
@media (max-width: 767px) {
  .gallery-wrapper .gallery-right .gallery-subthumb:last-child img {
    height: 160px;
  }
}

.sponsor-section .container {
  padding-inline: 15px;
}

.sponsor-wrapper {
  padding-bottom: 10px;
}

.review-section {
  border-radius: 5px;
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 5px;
}
@media (max-width: 991px) {
  .review-section {
    height: 350px;
  }
}
@media (max-width: 767px) {
  .review-section {
    height: 375px;
    width: 100%;
  }
}

.review-item {
  background: rgba(16, 55, 98, 0.65);
  border-radius: 5px;
  width: 430px;
  margin-inline: auto;
  position: relative;
  text-align: center;
  padding-inline: 20px;
  padding-top: 20px;
  padding-bottom: 5px;
  transform: translateY(110%);
}
@media (max-width: 991px) {
  .review-item {
    width: 400px;
  }
}
@media (max-width: 767px) {
  .review-item {
    width: 100%;
    max-width: 330px;
  }
}
@media (max-width: 991px) {
  .review-item {
    transform: translateY(84%);
  }
}
.review-item .name {
  font-size: 20px;
  font-family: "Loew-Black";
  color: #fff;
  margin-bottom: 10px;
}
.review-item .star {
  padding-bottom: 4px;
  line-height: 1;
  margin-top: 10px;
}
.review-item .star img {
  width: 100px;
}
.review-item p {
  font-size: 15px;
  font-family: "Loew-Medium";
  color: #fff;
  line-height: 1.1;
  margin-bottom: 0;
}
@media (max-width: 991px) {
  .review-item p {
    font-size: 14px;
  }
}
.review-item .quote-img {
  position: absolute;
  left: -20px;
  top: 8px;
}
.review-item .quote-img img {
  width: 52px;
  height: 53px;
}

.limited-time {
  padding-bottom: 125px;
  padding-top: 140px;
}
.limited-time .button-wrapper {
  gap: 40px;
  margin: 0;
}
@media (max-width: 991px) {
  .limited-time .button-wrapper {
    gap: 30px;
  }
}
@media (max-width: 767px) {
  .limited-time .button-wrapper {
    gap: 20px;
  }
  .limited-time .button-wrapper a {
    min-width: 263.48px;
  }
  .limited-time {
    padding-bottom: 170px;
  }
}
.limited-time .button-wrapper a {
  margin: 0;
  font-size: 20px;
  font-family: "Loew-Black";
  display: inline;
  width: auto;
  padding-inline: 20px;
  line-height: 1;
  border-width: 2px;
  padding-block: 15px;
}
@media (max-width: 991px) {
  .limited-time .button-wrapper a {
    font-size: 16px;
  }
}
.limited-time .button-wrapper a:first-child {
  background-color: transparent;
  color: #103762;
  text-decoration: underline;
}
.limited-time .button-wrapper a:first-child:hover {
  background-color: #103762;
  color: #fff;
  border-color: #103762;
}
.limited-time .button-wrapper a:last-child {
  font-size: 18px;
  background-color: #103762;
  color: #fff;
  text-decoration: none;
}
@media (max-width: 991px) {
  .limited-time .button-wrapper a:last-child {
    font-size: 15px;
  }
}
.limited-time .button-wrapper a:last-child:hover {
  background-color: #000;
}

.getoff-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-inline: auto;
  margin-bottom: 20px;
  padding-block: 10px;
}
@media (max-width: 767px) {
  .getoff-content {
    width: 100%;
    text-align: center;
    gap: 10px;
  }
}
.getoff-content h2 {
  font-size: 60px;
}
@media (max-width: 991px) {
  .getoff-content h2 {
    font-size: 48px;
  }
}
@media (max-width: 767px) {
  .getoff-content h2 {
    font-size: 44px;
  }
}
.getoff-content .left-content {
  text-align: right;
  width: 295px;
}
@media (max-width: 767px) {
  .getoff-content .left-content {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .getoff-content .text-middile {
    width: 100%;
    text-align: center;
  }
}
.getoff-content .text-middile h2 {
  font-size: 38px;
}
@media (max-width: 991px) {
  .getoff-content .text-middile h2 {
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  .getoff-content .text-middile h2 {
    font-size: 28px;
    line-height: 1;
    padding: 0;
  }
}
.getoff-content .right-content {
  width: 295px;
}
.getoff-content .right-content h2 {
  font-size: 38px;
  color: #616161;
}
@media (max-width: 991px) {
  .getoff-content .right-content h2 {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .getoff-content .right-content h2 {
    font-size: 24px;
  }
}

.limited-time-text {
  color: #616161;
  font-size: 18px;
  font-family: "Loew-Medium";
  text-align: center;
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  .limited-time-text {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .limited-time-text {
    font-size: 14px;
  }
}

.request-text {
  font-size: 24px;
  color: #444444;
  max-width: 470px;
  margin-inline: auto;
  text-align: center;
  line-height: 1;
  margin-bottom: 35px;
  margin-top: 20px;
}
@media (max-width: 991px) {
  .request-text {
    font-size: 19px;
  }
}
@media (max-width: 767px) {
  .request-text {
    font-size: 16px;
  }
}
.request-text span {
  font-family: "Loew-Black";
  display: inline;
}

.border-one {
  border-color: #103762 !important;
  opacity: 1;
  max-width: 855px;
  margin-inline: auto;
}

.form-group {
  position: relative;
}
.error {
  letter-spacing: .5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.3;
  padding: 5px 12px;
  background-color: #E1574E;
  font-size: 14px;
  color: white;
  position: relative;
  z-index: 11;
  display: none;
  position: absolute;
  right: 100%;
  top: 50%;
  transform: translate(-10px, -50%);
  min-width: max-content;
}

.error::before {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  background-color: #E1574E;
  left: 100%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

@media (max-width:757px) {
  .error {
    transform: translate(0);
    background-color: transparent;
    color: #E1574E;
    padding-inline-start: 0;
  }
  .error::before {
    display: none;
  }
}
.form-group.hasError .error {
  display: inline-block;
}
